<div class="container-fluid">
  <br>
  <hr>
  <div class="row">
    <h1>
      <a href="https://join.skype.com/invite/TwAG1qezveIx" target="blank"><i class="fa fa-skype" aria-hidden="true"></i></a> &nbsp;
      <a href="https://www.linkedin.com/in/suraj-c-shinde" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> &nbsp;
      <a href="https://www.facebook.com/suraj.shinde.16547" target="blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> &nbsp;
      <a href="https://plus.google.com/+surajshinde924" target="blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a> &nbsp;
      <a href="http://surajchshinde.github.io" target="blank"><i class="fa fa-github" aria-hidden="true"></i></a> &nbsp;</h1>
  </div>
  <br>
</div>
