<div class="container">
  <h1 class="text-center">Mr.Suraj Chandrakant Shinde</h1>
  <h2 class="text-center">MCA, Web UI Developer, 3 Years Experince. </h2>
  <hr>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <h4>
          <i class="fa fa-envelope" aria-hidden="true"></i> surajchshinde@gmail.com </h4>
        <h4>
          <i class="fa fa-whatsapp" aria-hidden="true"></i> +91 9767352683 &nbsp;
          <i class="fa fa-phone-square" aria-hidden="true"></i> +91 7972579622
        </h4>
        <h4>
          <i class="fa fa-skype" aria-hidden="true"></i> surajchshinde_1
          <a href="https://join.skype.com/invite/TwAG1qezveIx" target="blank">Join</a>
        </h4>
        <h4>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Pune, Maharashtra, India-IND</h4>

      </div>
      <div class="col-sm-8 col-lg-4 text-center">
        <div class="borderstyleIn">
          <h2>
<i class="fa fa-star" aria-hidden="true"></i>
            <em>Skills</em>
<i class="fa fa-star" aria-hidden="true"></i>
          </h2>
          <h4>Social Work, Friendly, Communication, Teamwork, Cooperative, Adaptable, Problem-Solving, Self-motivated, Discipline,
            Work Ethic</h4>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2 text-right">
        <h3 style="margin: 3px; text-align: center;">Resume.pdf
          <br>
          <a href="assets/bio/resume.pdf" target="blank">
<img src="assets/img/pdf.png" alt="View/Download" width="160px" data-toggle="tooltip" data-placement="bottom" title="Download PDF File of Resume">
          </a>
        </h3>
        <h3 style="margin: 3px; text-align: center;">CV.pdf
          <br>
          <a href="assets/bio/cv.pdf" target="blank">
            <img src="assets/img/pdf.png" alt="View/Download" width="160px">
          </a>
        </h3>
      </div>


      <div class="col-sm-4 col-lg-2 text-Center" style="text-align: center;">
        <img class="img-thumbnail img-responsive" src="assets/img/bio.jpg" alt="Mr.Suraj Shinde" width="120px" height="auto">
      </div>

    </div>
    <hr>

  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
