#navigation.fixed {
  position: fixed;
  top: 0px;
  z-index: 200;
  background: #0c061e;
  width: 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  margin: 0 -15px !important;
}
#navigation{
  margin: 0 -15px !important;
}
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  background-color: black;
}

.bg-dark{
  padding: 0; 
}
.navbar-dark .navbar-nav .nav-link{
  padding: 10px 15px; 
}

a:hover {
  color: #ffffff !important;
  text-decoration: underline;
}