<div class="container">
  <div class="col-lg-12">
    <!-- offset-lg-3  -->
    <h2 class="text-center ">
      <em>
        <i class="fa fa-address-book-o" aria-hidden="true"></i> Contact Details</em>
    </h2>
    <hr width="50% ">
    <div class="row">
<div class="offset-lg-1 col-lg-6">
        <h3>
          <i class="fa fa-envelope" aria-hidden="true"></i> Mail id: surajchshinde@gmail.com
          <a href="mailto:surajchshinde@gmail.com?Subject=contact%20from%20Portfolio%20Website" target="_top">Send Mail</a>
        </h3>
        <h3>
          <i class="fa fa-whatsapp" aria-hidden="true"></i> Call/Whats app: +91 9767352683 &nbsp;
        </h3>
        <h3>
          <i class="fa fa-phone-square" aria-hidden="true"></i> Call/SMS: +91 7972579622</h3>
        <h3>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Pune, Maharashtra, India-IND
        </h3>
      </div>
      <div class="col-lg-4">
        <h3>
          <i class="fa fa-skype" aria-hidden="true"></i> skype:
          <a href="https://join.skype.com/invite/TwAG1qezveIx" target="blank">surajchshinde_1</a>
        </h3>
        <h3>
          <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin:
          <a href="https://www.linkedin.com/in/suraj-c-shinde" target="blank" title="Join Linkedin">suraj-c-shinde</a>
        </h3>
        <h3>
          <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook:
          <a href="https://www.facebook.com/suraj.shinde.16547" target="blank">suraj.shinde.16547</a>
        </h3>
        <h3>
          <i class="fa fa-instagram" aria-hidden="true"></i> Instagram:
          <a href="https://www.instagram.com/suraj_c_shinde/" target="blank">suraj_c_shinde</a>

        </h3>

      </div>

    </div>
    <br><br>
<div class=" offset-lg-3 row text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242118.141998007!2d73.72287938901064!3d18.524564858632836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1534862828684"
 width="500px" height="350px" frameborder="2" style="border:3px solid black" allowfullscreen></iframe>
    </div>
  </div>
</div>
