<div class="container-fluid">
  <div class="col-lg-12">
    <div class="col-lg-12 gallery">
      
      <h2 class="text-center ">
        <em>
          <i class="fa fa-pencil" aria-hidden="true"></i> Graphic Design</em>
      </h2>
      <hr width="50% ">
      <h4 class="text-center ">
        <i class="fa fa-file-image-o" aria-hidden="true"></i> PSD, Image Editing, Logo, Banners, Brochure, Advertisement Campaign ... etc.
        <i class="fa fa-file-image-o" aria-hidden="true"></i>
      </h4>
      <hr>
      <!-- col-lg-offset-2 -->
      <div class="row text-center ">
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/1.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/1.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/2.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/2.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/3.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/3.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/4.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/4.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/5.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/5.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/6.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/6.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <!-- </div> -->
        <!-- <div class="row text-center "> -->
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/7.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/7.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/8.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/8.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/9.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/9.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/10.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/10.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/11.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/11.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/12.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/12.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <!-- </div>
				<div class="row text-center "> -->
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/13.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/13.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/14.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/14.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/15.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/15.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/16.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/16.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/17.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/17.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/18.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/18.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <!-- </div> -->
        <!-- <div class="row text-center "> -->
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/19.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/19.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/20.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/20.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/21.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/21.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/22.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/22.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/23.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/23.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/24.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/24.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <!-- </div> -->
        <!-- <div class="row text-center "> -->
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/25.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/25.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/26.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/26.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/27.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/27.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-3 col-lg-2 ">
          <a href="assets/img/dsn/large/28.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/28.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-6 col-lg-2 ">
          <a href="assets/img/dsn/large/29.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/29.jpg
  " height="150px " width="150px ">
          </a>
        </div>
        <div class="col-sm-6 col-lg-2 ">
          <a href="assets/img/dsn/large/30.jpg " data-lightbox="MyGallery ">
            <img class="img-thumbnail img-responsive " src="assets/img/dsn/thumb/30.jpg
  " height="150px " width="150px ">
          </a>

        </div>

      </div>


    </div>
  </div>
</div>
