.fa-star{
    color: gold;
}
.pdf{
    margin: auto;
}
.carousel-indicators .active{
    background-color: black !important;
}

.carousel-indicators li{
    background-color: #E91E63 !important;
    margin-bottom: 20px !important;
    height: 5px !important;
}

h3{
        background-color: #343a40;
        border-radius: 30px;
        padding: 10px;
        
}